{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <h1>Reservation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>name</th>
                <td>{{ reservation.name }}</td>
            </tr>
            <tr>
                <th>surname</th>
                <td>{{ reservation.surname }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ reservation.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ reservation.email }}</td>
            </tr>
            <tr>
                <th>PersonNb</th>
                <td>{{ reservation.personNb }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ reservation.date ? reservation.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ reservation.remarks }}</td>
            </tr>
            <tr>
                <th>Privatisation</th>
                <td>{{ reservation.privatized ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reservation_index') }}">back to list</a>

    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">edit</a>

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
